<h1 class="center" style="margin-bottom: 100px;">あなたの名前を教えてください</h1>
<% if @error.present? %>
    <p class="center" style="color: red"><%= @error %></p>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
    <%= f.text_field :name, class: "form-control", style: "margin: 0 auto; width: 200px;" %>
    <%= f.submit "送信する", class: "btn btn-primary", style: "margin: 0 auto; display: block; margin-top: 30px;" %>
<% end %>